[submodule "src/ingress-proj"]
	path = src/ingress-proj
	url = https://github.com/AdaCompNUS/ingress-proj
[submodule "src/faster_rcnn_detector/Visual-Manipulation-Relationship-Network-Pytorch"]
	path = src/faster_rcnn_detector/vmrn
	url = https://github.com/ZhangHanbo/Visual-Manipulation-Relationship-Network-Pytorch.git
[submodule "src/mattnet_server/MAttNet"]
	path = src/mattnet_server/MAttNet
	url = https://github.com/lyf44/MAttNet.git
[submodule "src/mrt_detector/vmrn_old"]
	path = src/mrt_detector/vmrn_old
	url = https://github.com/ZhangHanbo/Visual-Manipulation-Relationship-Network-Pytorch.git
[submodule "src/libraries/tools/refer"]
	path = src/libraries/tools/refer
	url = https://github.com/lichengunc/refer
[submodule "src/vlbert_service/src/vlbert"]
	path = src/vlbert_service/src/vlbert
	url = https://github.com/ZhangHanbo/VL-BERT-multi-task.git
[submodule "src/detectron2"]
	path = src/detectron2
	url = https://github.com/facebookresearch/detectron2
