[submodule "src/ingress-proj"]
	path = src/ingress-proj
	url = https://github.com/AdaCompNUS/ingress-proj
[submodule "src/mrt_detector/vmrn_old"]
	path = src/mrt_detector/vmrn_old
	url = https://github.com/ZhangHanbo/Visual-Manipulation-Relationship-Network-Pytorch.git
[submodule "src/libraries/tools/refer"]
	path = src/libraries/tools/refer
	url = https://github.com/lichengunc/refer
[submodule "src/faster_rcnn_detector/detectron2"]
	path = src/faster_rcnn_detector/detectron2
	url = https://github.com/AdaCompNUS/detectron2.git
[submodule "src/mattnet_server/MAttNet"]
	path = src/mattnet_server/MAttNet
	url = https://github.com/AdaCompNUS/MAttNet.git
